<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="fragments/navbar"></th:block>
    </header>
    <main class="mt-3">
        <h1 class="text-dark text-center">All Events</h1>
        <hr class="hr-2 bg-eventures">
        <div class="radio-navigation-holder w-50 mx-auto d-flex justify-content-between">
            <div class="form-check form-check-inline">
                <input class="form-check-input mb-1" type="radio" id="availableRadio" value="available" name="selection">
                <h4 class="font-weight-bold ml-2"><label class="form-check-label" for="availableRadio">Available</label></h4>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input mb-1" type="radio" id="unavailableRadio" value="unavailable" name="selection">
                <h4 class="font-weight-bold ml-2"><label class="form-check-label" for="unavailableRadio">Unavailable</label></h4>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input mb-1" type="radio" id="allRadio" value="all" name="selection">
                <h4 class="font-weight-bold ml-2"><label class="form-check-label" for="allRadio">All</label></h4>
            </div>
        </div>
        <hr class="hr-2 bg-eventures">
        <table class="table table-eventures">
            <thead>
            <tr class="font-weight-bold">
                <th class="w-5">#</th>
                <th class="w-30">Name</th>
                <th class="w-15">Start</th>
                <th class="w-15">End</th>
                <th class="w-10">Price</th>
                <th class="w-15">Remaining Tickets</th>
                <th class="w-10">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event, iter : ${allEvents}" th:object="${event}">
                <td class="w-5" th:text="${iter.index + 1}"></td>
                <td class="w-30" th:text="*{name}"></td>
                <td class="w-15" th:text="*{#temporals.format(startTime, 'hh:mm | dd/MM/yyyy')}"></td>
                <td class="w-15" th:text="*{#temporals.format(endTime, 'hh:mm | dd/MM/yyyy')}"></td>
                <td class="w-10" th:text="*{'$' + pricePerTicket}"></td>
                <td class="w-15" th:text="*{remainingTickets}"></td>
                <td class="w-10">
                    <button type="button" class="btn bg-eventures" data-toggle="modal" th:data-target="*{'#orderFormModal' + id}">Order</button>
                    <!--Modal-->
                    <div class="modal fade" th:id="*{'orderFormModal' + id}" tabindex="-1" role="dialog" th:aria-labelledby="*{'orderFormModalLabel' + id}"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" th:id="*{'orderFormModalLabel' + id}" th:text="|Order tickets for *{name}|"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form class="form-inline d-flex justify-content-between" th:action="@{/events/order}" th:method="POST">
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label class="mb-1" th:for="*{'tickets-' + id}">Tickets</label>
                                            <input type="number" name="tickets" class="form-control ml-3 w-75" th:id="*{'tickets-' + id}"/>
                                            <input type="hidden" name="eventId" th:value="*{id}">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn bg-eventures">Order</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
    <footer class="footer mt-1 p-3 bg-eventures">
        <div class="container-fluid">
            <div class="text-muted container-fluid text-center">&copy; CopyRight Eventures Inc 2018-2018. All rights
                reserved.
            </div>
        </div>
    </footer>
</div>
<script>
    $('.form-check-inline>input,.form-check-inline>label').click(function (e) {
        let value = $(this).val();

        $.ajax({
            type: 'GET',

        })
    });
</script>
</body>
</html>